In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier, plot_tree
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import explained_variance_score, mean_squared_error, max_error, mean_absolute_error
from sklearn.metrics import precision_score, recall_score, f1_score, matthews_corrcoef, confusion_matrix, accuracy_score, classification_report
from sklearn.model_selection import KFold
from collections import Counter
from scipy.stats import pearsonr

## Load Data

In [14]:
#creates a dataframe from a file
df = pd.read_csv("Postures.csv")

#info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78096 entries, 0 to 78095
Data columns (total 38 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   78096 non-null  int64
 1   User    78096 non-null  int64
 2   X0      78096 non-null  float64
 3   Y0      78096 non-null  float64
 4   Z0      78096 non-null  float64
 5   X1      78096 non-null  float64
 6   Y1      78096 non-null  float64
 7   Z1      78096 non-null  float64
 8   X2      78096 non-null  float64
 9   Y2      78096 non-null  float64
 10  Z2      78096 non-null  float64
 11  X3      78096 non-null  object
 12  Y3      78096 non-null  object
 13  Z3      78096 non-null  object
 14  X4      78096 non-null  object
 15  Y4      78096 non-null  object
 16  Z4      78096 non-null  object
 17  X5      78096 non-null  object
 18  Y5      78096 non-null  object
 19  Z5      78096 non-null  object
 20  X6      78096 non-null  object
 21  Y6      78096 non-null  object
 22  Z6      78096 non-null  object
 23  X7      78096 non-null  object
 24  Y7      78096 non-null  object
 25  Z7      78096 non-null  object
 26  X8      78096 non-null  object
 27  Y8      78096 non-null  object
 28  Z8      78096 non-null  object
 29  X9      78096 non-null  object
 30  Y9      78096 non-null  object
 31  Z9      78096 non-null  object
 32  X10     78096 non-null  object
 33  Y10     78096 non-null  object
 34  Z10     78096 non-null  object
 35  X11     78096 non-null  object
 36  Y11     78096 non-null  object
 37  Z11     78096 non-null  object
dtypes: float64(9), int64(2), object(27)
memory usage: 22.6+ MB
None

In [15]:
print(df)

       Class  User         X0          Y0         Z0         X1          Y1  \
0          0     0   0.000000    0.000000   0.000000   0.000000    0.000000
1          1     0  54.263880   71.466776 -64.807709  76.895635   42.462500
2          1     0  56.527558   72.266609 -61.935252  39.135978   82.538530
3          1     0  55.849928   72.469064 -62.562788  37.988804   82.631347
4          1     0  55.329647   71.707275 -63.688956  36.561863   81.868749
...      ...   ...        ...         ...        ...        ...         ...
78091      5    14  54.251127  129.177414 -44.252511  27.720784  107.810661
78092      5    14  54.334883  129.253842 -44.016320  27.767911  107.914808
78093      5    14  54.151540  129.269502 -44.173273  27.725978  108.034006
78094      5    14  27.915311  108.007390  10.814957  -0.910435  122.464093
78095      5    14  27.898705  108.092877  11.107857 -30.031402   77.740235

              Z1         X2          Y2  ...                 Z8  \
0       0.000000   0.000000    0.000000  ...                  0
1     -72.780545  36.621229   81.680557  ...                  ?
2     -49.596509  79.223743   43.254091  ...                  ?
3     -50.606259  78.451526   43.567403  ...                  ?
4     -52.752784  86.320630   68.214645  ...                  ?
...          ...        ...         ...  ...                ...
78091  11.099282  -1.270139  122.758679  ...  -6.54311453354464
78092  11.069842 -30.334054   77.858214  ...  -62.1305625712145
78093  11.020347 -22.574718  104.222208  ...   3.83590370588782
78094 -47.271248 -30.084588   77.705861  ...  -63.2216259324485
78095 -17.453099  -1.091566  122.827638  ...  -63.0265744155222

                     X9                Y9                 Z9 X10 Y10 Z10 X11  \
0                     0                 0                  0   0   0   0   0
1                     ?                 ?                  ?   ?   ?   ?   ?
2                     ?                 ?                  ?   ?   ?   ?   ?
3                     ?                 ?                  ?   ?   ?   ?   ?
4                     ?                 ?                  ?   ?   ?   ?   ?
...                 ...               ...                ...  ..  ..  ..  ..
78091  87.7333643096221  61.2163626180662  -62.1262783028233   ?   ?   ?   ?
78092  78.2298473919132  33.0784071753174  -45.2495433686171   ?   ?   ?   ?
78093   78.591554010542    32.32773753847  -46.1665560916632   ?   ?   ?   ?
78094                 ?                 ?                  ?   ?   ?   ?   ?
78095  78.8796525666014  31.6030997578398  -47.0137357205196   ?   ?   ?   ?

      Y11 Z11
0       0   0
1       ?   ?
2       ?   ?
3       ?   ?
4       ?   ?
...    ..  ..
78091   ?   ?
78092   ?   ?
78093   ?   ?
78094   ?   ?
78095   ?   ?

[78096 rows x 38 columns]

In [16]:
#ignoring the first row of the dataset
df = df.values[1:]
df

array([[1, 0, 54.2638799540698, ..., '?', '?', '?'],
       [1, 0, 56.5275584513992, ..., '?', '?', '?'],
       [1, 0, 55.8499275533856, ..., '?', '?', '?'],
       ...,
       [5, 14, 54.1515399011587, ..., '?', '?', '?'],
       [5, 14, 27.9153113368356, ..., '?', '?', '?'],
       [5, 14, 27.8987054186744, ..., '?', '?', '?']], dtype=object)

In [ ]:
# variable to classify is the firts column Class, with values ranging between 1 and 5

#the user column has values ranging between 0 and 14 skipping the 3

# ? values see what to do with those, eliminating them does seem like an option , replace them with another value maybe (Nan) , imputating with other value (mean)